.DS_Store
/tacit/tacit
/tacit/ten_vad.framework
/tacit/build/
/tacit/third_party/whisper.cpp/build/
/tacit/pkg/search/rg-darwin-arm64
/tacit/pkg/search/rg-darwin-amd64
/tacit/cmd/tacit-app/frontend/node_modules/
/tacit/cmd/tacit-app/frontend/dist/*
!/tacit/cmd/tacit-app/frontend/dist/.gitkeep
