.DS_Store
/tacit/tacit
/tacit/ten_vad.framework
/tacit/build/
/tacit/core/internal/components/transcriber/whisper.cpp/build/
/tacit/core/internal/components/note-manager/rg-darwin-arm64
/tacit/core/internal/components/note-manager/rg-darwin-amd64
/tacit/app/desktop/frontend/node_modules/
/tacit/app/desktop/frontend/dist/*
!/tacit/app/desktop/frontend/dist/.gitkeep
